.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  width: 350px;
  margin: 30px auto;
}

.App-nav {
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

.App-nav > li {
  display: inline-block;
  padding: 10px 20px;
}

.App-env-label {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 5px 7px;
  font-size: 10px;
  line-height: 1;
  background-color: #000;
  color: #ccc;
  border-radius: 3px;
  opacity: 0.3;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
